
<html>
    <head>

        <link rel="stylesheet" href="./css/style2.css">



        <title>Responsive Regisration Form </title>
    </head>
    <body>

        <div class="container">
            <div class="loginbox2">

            <h1>COG</h1>

            <form action="#">

                <div class="form first">

                    <div class="details personal">

                        <!-- <span class="title">MRI</span> -->

                        <div class="fields">
                            <div class="input-field">
                                <label>RAVLT immediate</label>
                                <input type="number" placeholder=" " required>
                            </div>

                            <div class="input-field">
                                <label>RAVLT Learning</label>
                                <input type="number" placeholder=" " required>
                            </div>

                            <div class="input-field">
                                <label>RAVLT Forgetting</label>
                                <input type="number" placeholder=" " required>
                            </div>

                            <!-- <div class="input-field">
                                <label>Fuctional activity score</label>
                                <input type="number" placeholder=" " required>
                            </div>



                            <div class="input-field">
                                <label>Questionnaire score</label>
                                <input type="number" placeholder=" " required>
                            </div>
                             -->
                        </div>
                    </div>



                    <button class="btn"><a href="./home2.html">NEXT</a></button>


                    </div>
                </div>

            </form>
        </div>

        <!--<script src="script.js"></script>-->
    </body>
    </html>