<html>

<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="./css/style1.css">
    <script src="./script/doctor.js"></script>
</head>

<body>
    <div class="loginbox">
        <img src="./images/3.jpg" class="avatar">
        <form>
            <label>Username</label>
            <input type="text" name="" id="username" placeholder="Enter User Name"> <br />
            <label>Password</label>
            <input type="password" name="" id="password" placeholder="Enter Password"> <br />
            <input type="button" class="registerbtn" onclick="authenticate()" value="Login">
        </form>
    </div>
</body>

</html>