<html>

<head>

    <link rel="stylesheet" href="./css/style2.css">



    <title>Responsive Regisration Form </title>
</head>

<body>

    <div class="container">
        <div class="loginbox2">

            <h1>Risk Factors</h1>

            <form action="#">

                <div class="form first">

                    <div class="details personal">

                        <!-- <span class="title">MRI</span> -->

                        <div class="fields">
                            <div class="input-field">
                                <label>Full Name</label>
                                <input type="text" placeholder=" " required>
                            </div>

                            <div class="input-field">
                                <label>DOB</label>
                                <input type="date" placeholder=" " required>
                            </div>





                            <label>Gender </label>
                            <input type="radio" name="gender" value="male"> Male
                            <input type="radio" name="gender" value="female"> Female
                            <input type="radio" name="gender" value="other"> Other
                            </br>

                            <div class="input-field">
                                <label>Education</label>
                                <input type="number" placeholder="" required>
                            </div>
                            <div class="input-field">
                                <label>APOE</label>
                                <input type="number" placeholder="" required>
                            </div>
                        </div>
                    </div>



                    <button class="btn"><a href="./home2.html">NEXT</a></button>


                </div>
        </div>

        </form>
    </div>

    <!--<script src="script.js"></script>-->
</body>

</html>