<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Memory Games</title>

    <link rel="stylesheet" href="./stylescss.css" />
  </head>
  <body>
    <p><font size= "5">Your score: <span id=score> </span></font></p>

    <div class="row">
      <div
        class="card color-hidden"
        onclick="onCardClicked(event)"

      ></div>
      <div
        class="card color-hidden"
        onclick="onCardClicked(event)"
      ></div>
      <div
        class="card color-hidden"
        onclick="onCardClicked(event)"
      ></div>
      <div
        class="card color-hidden"
        onclick="onCardClicked(event)"
      ></div>
    </div>
    <div class="row">
      <div
        class="card color-hidden"
        onclick="onCardClicked(event)"
      ></div>
      <div
        class="card color-hidden"
        onclick="onCardClicked(event)"
      ></div>
      <div
        class="card color-hidden"
        onclick="onCardClicked(event)"
      ></div>
      <div
        class="card color-hidden"
        onclick="onCardClicked(event)"
      ></div>
    </div>
    <div class="row">
      <div
        class="card color-hidden"
        onclick="onCardClicked(event)"
      ></div>
      <div
        class="card color-hidden"
        onclick="onCardClicked(event)"
      ></div>
      <div
        class="card color-hidden"
        onclick="onCardClicked(event)"
      ></div>
      <div
        class="card color-hidden"
        onclick="onCardClicked(event)"
      ></div>
    </div>
    <div class="row">
      <div
        class="card color-hidden"
        onclick="onCardClicked(event)"
      ></div>
      <div
        class="card color-hidden"
        onclick="onCardClicked(event)"
      ></div>
      <div
        class="card color-hidden"
        onclick="onCardClicked(event)"
      ></div>
      <div
        class="card color-hidden"
        onclick="onCardClicked(event)"
      ></div>
    </div>
    <button class="btn"><a href="file:///C:/Users/user/Downloads/website2/website/instruction.html">Back</a></button>

<script src="./indexjs.js">

</script>

  </body>

</html>