<DOCTYPE.html>
    <html>
        <head>
            <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
            <title>ALZHEIMER'S PREDICTION</title>
            <link rel="stylesheet" href="./css/style.css">
        </head>
        <body>
            <form action="{{ url_for('predict') }}" method="POST">
            <div class="main">
                <div class="menu">
                    <ul>
                        <li><a href="#">HOME</a></li>
                        <li><a href="#">ABOUT</a></li>

                        <li><a href="#">CONTACT</a></li>
                    </ul>
                </div>
                <button class="btn"><a href="./login.html">LOGIN</a></button>
                <div class="cantainer">
                    <div class="container span">
                        <h1 class="logo">ALZHEIMER'S PREDICTION</h1>
                        <h4 class="logo1">Alzheimer’s disease is a brain disorder that slowly destroys memory and thinking skills and, eventually, the ability to carry out the simplest tasks.
                        </h4>


                    </div>
                </div>

            </div>

            </form>
        </body>

    </html>
</DOCTYPE.html>