<html>
    <head>
        <title>Login Page</title>
        <link rel="stylesheet" href="./css/style1.css">
    </head>
    <body>
<div class="loginbox">
<!-- <img src="3.jpg" class="avatar"> -->

<form>
    <h1>Diagnosis Details</h1>
    <!--
    <input type="text" name="" placeholder="Enter User Name"> <br/>
    <label>Password</label>
    <input type="password" name="" placeholder="Enter Password"> <br/>
    <button class="registerbtn"><a href="file:///home/user/Desktop/project/website/home2.html">Login</a></button> -->
    <div class="menu1">
        <ul>
            <li><h2><a href="./doctr_quiz.html">Risk Factor</a></h2></li>
            <li><h2><a href="./mri_details.html">Magnetic Resonance Imaging</a></h2></li>
            <li><h2><a href="./cog.html">Cognitive Test</a></h2></li>
            <li><h2><a href="./pet_dtails.html">Positron Emission Tomography</a></h2></li>

            <!-- <li><a href="#">Admin</a></li> -->
        </ul>
    </div>
</form>
</div>
    </body>
</html>