
<html>
  <head>

      <link rel="stylesheet" href="./css/style2.css">



      <title>Responsive Regisration Form </title>
  </head>
  <body>

      <div class="container">
          <div class="loginbox3">

          <h1>Quizzz</h1>

          <form action="#">

              <div class="form first">

                  <div class="details personal">

                      <!-- <span class="title">MRI</span> -->

                      <div class="fields">
                          <div class="input-field">
                              <label>Forgetting where you put something or Losing things</label>
                              <div>
                              <button class="button">yes</button>
                              <button class="button">No</button>
                              <button class="button">Not Sure</button>
                            </div>
                          </div>

                          <div class="input-field">

                              <label>Failing to recognize places you have been before.</label>
                              <div>
                              <button class="button">yes</button>
                              <button class="button">No</button>
                              <button class="button">Not Sure</button>
                            </div>
                          </div>

                          <div class="input-field">
                              <label>Finding a television story or a movie hard to follow</label>
                              <div>
                              <button class="button">yes</button>
                              <button class="button">No</button>
                              <button class="button">Not Sure</button>
                            </div>
                          </div>

                          <div class="input-field">
                              <label>Forgetting where you parked your vehicle</label>
                            <div>
                              <button class="button">yes</button>
                              <button class="button">No</button>
                              <button class="button">Not Sure</button>
                            </div>
                          </div>



                          <div class="input-field">
                              <label>Forgetting to pay your bills on time
                            </label>
                            <div>
                            <button class="button">yes</button>
                            <button class="button">No</button>
                            <button class="button">Not Sure</button>
                          </div>
                          </div>
                          <div class="input-field">
                              <label>Forgetting when it was that something happened</label>
                            <div>
                              <button class="button">yes</button>
                              <button class="button">No</button>
                              <button class="button">Not Sure</button>
                            </div>
                          </div>
                          <div class="input-field">
                            <label>Leaving things behind and having to go back to fetch them</label>
                          <div>
                            <button class="button">yes</button>
                              <button class="button">No</button>
                              <button class="button">Not Sure</button>
                            </div>
                        </div>
                        <div class="input-field">
                          <label>Reading something and then realizing you have read it before</label>
                        <div>
                          <button class="button">yes</button>
                              <button class="button">No</button>
                              <button class="button">Not Sure</button>
                            </div>
                      </div>
                      <div class="input-field">
                        <label>Dialing a number and the forgetting who you called</label>
                      <div>
                        <button class="button">yes</button>
                              <button class="button">No</button>
                              <button class="button">Not Sure</button>
                            </div>
                    </div>
                    <div class="input-field">
                      <label>A word is on the tip of your tongue but you cannot get it out</label>
                    <div>
                      <button class="button">yes</button>
                              <button class="button">No</button>
                              <button class="button">Not Sure</button>
                            </div>
                  </div>







                      </div>
                  </div>



                  <button class="btn"><a href="./instruction.html">NEXT</a></button>


                  </div>
              </div>

          </form>
      </div>

      <!--<script src="script.js"></script>-->
  </body>
  </html>