
<html>
<head>

    <link rel="stylesheet" href="./css/style2.css">



    <title>Responsive Regisration Form </title>
</head>
<body>

    <div class="container">
        <div class="loginbox2">

        <h1>MRI</h1>

        <form action="#">

            <div class="form first">

                <div class="details personal">

                    <!-- <span class="title">MRI</span> -->

                    <div class="fields">
                        <div class="input-field">
                            <label>Size of Ventricle</label>
                            <input type="number" placeholder=" " required>
                        </div>

                        <div class="input-field">
                            <label>Size of Hippocampus</label>
                            <input type="number" placeholder=" " required>
                        </div>

                        <div class="input-field">
                            <label>Volume of Whole-brain</label>
                            <input type="number" placeholder=" " required>
                        </div>

                        <div class="input-field">
                            <label>Size of Entorhinal</label>
                            <input type="number" placeholder=" " required>
                        </div>



                        <div class="input-field">
                            <label>Size of Fusiform</label>
                            <input type="number" placeholder="" required>
                        </div>
                        <div class="input-field">
                            <label>Size of Mid-temp</label>
                            <input type="number" placeholder="" required>
                        </div>
                    </div>
                </div>



                <button class="btn"><a href="./home2.html">NEXT</a></button>


                </div>
            </div>

        </form>
    </div>

    <!--<script src="script.js"></script>-->
</body>
</html>